{% extends 'user/index.html' %}
{% block content %}
<br><br><br>
<div class="card-body">
    <h1>Búsqueda de Documentos</h1>
    <form method="GET" action="{% url 'buscar_documentos' %}" id="form-busqueda">
        <div class="search-box">
            <input type="text" id="search-input" name="query" placeholder="Buscar documentos..." autocomplete="off">
            <input type="text" name="comprobante" placeholder="Comprobante" style="display:none;">
            <input type="date" name="fecha_subida" style="display:none;">
            <input type="number" name="año" placeholder="Año" style="display:none;">
        </div>
        <button type="submit">Buscar</button>
    </form>
    <div id="resultados">
    </div>
</div>
<script>
    document.getElementById('search-input').addEventListener('keyup', function() {
    const query = this.value;
    const comprobante = document.querySelector('input[name="comprobante"]').value;
    const fecha_subida = document.querySelector('input[name="fecha_subida"]').value;
    const año = document.querySelector('input[name="año"]').value;
    
    fetch(`/userArchivoapp/buscar_documentos/?query=${query}&comprobante=${comprobante}&fecha_subida=${fecha_subida}&año=${año}`, {
        headers: { 'x-requested-with': 'XMLHttpRequest' }
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById('resultados').innerHTML = data.html;
    })
    .catch(error => console.error('Error en la búsqueda:', error));
});

</script>
{% endblock content %}
