{% extends 'user/index.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Lista de Reportes</h2>

    <!-- Selección de filtros de fecha -->
    <div class="mb-3 no-print">
      <div class="col-md-12">
        <h4>Reportes por:</h4>
        <a href="?filtro=dia" class="btn btn-primary {% if filtro == 'dia' %}active{% endif %}">Día</a>
        <a href="?filtro=semana" class="btn btn-primary {% if filtro == 'semana' %}active{% endif %}">Semana</a>
        <a href="?filtro=mes" class="btn btn-primary {% if filtro == 'mes' %}active{% endif %}">Mes</a>
      </div>
      <div class="col-md-6">
        <h4>Seleccione la fecha o rango para ver los reportes</h4>
        <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control mb-2 d-inline-block w-auto">
        <input type="date" id="fecha_fin" name="fecha_fin" class="form-control mb-2 d-inline-block w-auto">
        <button onclick="filtrarRango()" class="btn btn-primary">Aplicar Rango</button>
      </div>
      <div class="col-md-12">
        <button onclick="window.print()" class="btn btn-secondary">Imprimir Reporte</button>
      </div>
    </div>

    <table class="table table-striped">
      <thead>  
        <tr>
          <th>#</th>
          <th>Nombre del Archivo</th>
          <th>Subido Por</th>
          <th>Responsable</th>
          <th>Ubicación</th>
          <th>Fecha de Subida</th>
          <th class="no-print">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for documento in documentos %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ documento.nombre_archivo }}</td>
          <td>{{ documento.subido_por.get_full_name }}</td>
          <td>{{ documento.responsable }}</td>
          <td>{{ documento.ubicacion }}</td>
          <td>{{ documento.fecha_subida }}</td>
          <td class="no-print">
            <a href="{% url 'reporte_documento' documento.id %}" class="btn btn-info">Ver Reporte</a>
            <a href="{% url 'descargar_reporte' documento.id %}" class="btn btn-success">Descargar Reporte</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No hay reportes disponibles.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <style>
    /* Estilos específicos para impresión */
    @media print {
      .no-print, .btn, .mb-3, header, nav, aside {
        display: none !important;
      }
      .container {
        margin: 0 auto;
        padding: 0;
        width: 60%; /* Reduce el ancho al 60% para centrarlo aún más */
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      table, th, td {
        border: 1px solid black;
      }
      th, td {
        padding: 8px;
        text-align: left;
      }
    }
  </style>  
{% endblock %}
