{% extends 'user/index.html' %}
{% block content %}
<br><br><br>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Secretarías y Unidades</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #6DA5C0;
        }
        table, th, td {
            border: 1px solid #0E9097;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h3>Lista de Secretarías y sus Unidades Dependientes</h3>
    <table>
        <thead>
            <tr>
                <th>Secretaría</th>
                <th>Unidades Dependientes</th>
            </tr>
        </thead>
        <tbody>
            {% for secretaria in secretarias %}
                <tr>
                    <td>{{ secretaria.nombre_secretaria }}</td>
                    <td>
                        <ul>
                            {% for unidad in secretaria.unidad_set.all %}
                                <li>{{ unidad.nombre_unidad }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}