{% extends 'user/index.html' %}
{% block content %}
<br><br>
    <div class="container mt-4">
        <h3 class="text-center mb-4">Monitoreo Sistema</h3>

        <!-- Mostrar los usuarios en línea -->
        <h4>Usuarios en línea: {{ total_users_online }}</h4>
        <ul>
            {% for user in users_online %}
                <li>{{ user.username }}</li>
            {% endfor %}
        </ul>

        <!-- Mostrar los grupos y usuarios en línea por grupo -->
        <h4>Grupos y Usuarios Registrados</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Grupo</th>
                    <th>Usuarios Registrados</th>
                    <th>Usuarios en Línea</th>
                </tr>
            </thead>
            <tbody>
                {% for grupo in grupos_con_usuarios_online %}
                    <tr>
                        <td>{{ grupo.group.name }}</td>
                        <td>{{ grupo.total_users }}</td>
                        <td>{{ grupo.users_online }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Canvas para el gráfico de usuarios por mes -->
        <div class="mt-4">
            <canvas id="usersChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const ctx = document.getElementById('usersChart').getContext('2d');
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: {{ months|safe }}, 
                        datasets: [{
                            label: 'Usuarios por Mes',
                            data: {{ counts|safe }},
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
        </script>
    </div>
{% endblock content %}
